.table th , .table td {
    text-align: center;
    } 

select.form-control{
  width: 20%;
    }



    .radio-label {
      display: inline-block;
      vertical-align: top;
      font-size: 25px;
      margin-left: 10px;
       
   }
   .radio-input {
      display: inline-block;
       vertical-align: top;
       
   }
   .r1{
    margin-right: 100px;
   }

   .inputField{
    text-align: center;
}
    

input[type=radio] {
  margin: 15px 0 0;

}